# --- Postgres Config ---
POSTGRES_USER=POSTGRES_USER
POSTGRES_PASSWORD=POSTGRES_PASSWORD
POSTGRES_DB=POSTGRES_DB
CONNECTION_STRING=CONNECTION_STRING

# --- Kafka Config ---
KAFKA_CLUSTER_ID=KAFKA_CLUSTER_ID

# --- API Config ---
API_PORT_EXTERNAL=8080
API_PORT_INTERNAL=8080